body {
    background: url('../img/bg.png') repeat;
    font-family: "Open Sans", Arial, sans-serif;
}

table {
    @extend .table;
}

.alignleft {
    @extend .pull-left;
    margin-right: 10px;
}

.alignright {
    @extend .pull-right;
    margin-left: 10px;
}

.wp-caption-text {
    font-size: 0.8em;
}
