.widget-chamadas {
    background-color: transparent;
    margin-top: 50px;

    &__title {
        background: url('../img/title-chamadas.png') no-repeat center center;
        margin-bottom: 10px;
        min-height: 130px;
        min-width: 361px;

        h2 {
            font-size: 32px;
            margin: 0;
        }
    }
}

#chamadas {
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    text-align: left;

    #formasingresso {
        text-align: center;
    }

    .breadcrumb {
        background-color: $cor-base;
        color: #ffffff;

        &-item {
            a {
                color: #ffffff;
                font-weight: bold;
            }

            &.active {
                color: #ffffff;
            }

            &:before {
                color: #ffffff;
            }
        }
    }

    .btn {
        margin-bottom: 10px;
    }

    .chamadas {
        .list-group-item {
            border-left: 10px solid $cor-base;
            color: $cor-apoio;
            text-align: left;

            small {
                color: $cor-destaque;
            }

            &:hover {
                color: $cor-base;
            }
        }
    }
}

.btn-formaingresso {
    /*@include button-variant($cor-formasingresso, $cor-formasingresso);*/
    @include btn-chamadas();
}

.btn-modalidade {
    /*@include button-variant($cor-modalidades, $cor-modalidades);*/
    @include btn-chamadas();
}

.btn-campus {
    /*@include button-variant($cor-campi, $cor-campi);*/
    @include btn-chamadas();
}

.label-formaingresso {
    /*@include badge-variant($cor-formasingresso);*/
    @include badge-chamadas();
}

.label-modalidade {
    /*@include badge-variant($cor-modalidades);*/
    @include badge-chamadas();
}

.label-campus {
    /*@include badge-variant($cor-campi);*/
    @include badge-chamadas();
}

.chamada-labels {
    .badge {
        font-size: 90%;
    }
}
