.widget-chamadas {
    background-color: transparent;
    margin-top: 50px;

    &__title {
        @include text-hide;
        background: url('../img/title-chamadas.png') no-repeat center center;
        margin-bottom: 10px;
        min-height: 130px;
        min-width: 361px;
        text-indent: -10000px;

        h2 {
            font-size: 32px;
            margin: 0;
        }
    }
}

#chamadas {
    background-color: rgba(255,255,255,0.90);
    opacity: 0.95;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    text-align: left;

    #formasingresso {
        p {
            text-align: center;
        }
    }

    .breadcrumb {
        > li {
            > a {
                font-weight: bold;

                &.breadcrumb-formaingresso {
                    color: $cor-formasingresso;
                }

                &.breadcrumb-campus {
                    color: $cor-campi;
                }

                &.breadcrumb-modalidade {
                    color: $cor-modalidades;
                }
            }
        }
    }

    .btn {
        margin-bottom: 10px;
    }

    .chamadas {
        .list-group-item {
            color: $cor-apoio;

            small {
                color: $cor-destaque;
            }

            &:hover {
                color: $cor-base-secundaria;
            }
        }
    }
}

.btn-formaingresso {
    /*@include button-variant($cor-formasingresso, $cor-formasingresso);*/
    @include btn-chamadas();
}

.btn-modalidade {
    /*@include button-variant($cor-modalidades, $cor-modalidades);*/
    @include btn-chamadas();
}

.btn-campus {
    /*@include button-variant($cor-campi, $cor-campi);*/
    @include btn-chamadas();
}

.label-formaingresso {
    @include badge-variant($cor-formasingresso);
}

.label-modalidade {
    @include badge-variant($cor-modalidades);
}

.label-campus {
    @include badge-variant($cor-campi);
}

.chamada-labels {
    .badge {
        font-size: 90%;
    }
}
