.cursos {
    @include box();

    margin-bottom: $grid-gutter-width;
    padding: 15px 10px;

    &__title {
        margin-top: 0;
    }
}

.list-campi {
    list-style: none;
    padding: 0;

    > li {
        display: inline-block;
        margin-bottom: 5px;

        &:focus,
        &:active,
        &.active {
            > a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.btn-campus {
    @include button-variant(#fff, $cor-campi, $cor-campi);
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    .dataTables_info {
        font-size: 0.9em;
    }
}
