.cursos {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box();
        @include box-title($cor-base, '');

        margin-top: 0;
        padding: 20px;
    }

    &__content {
        @include box();
        @include box-body($cor-base);
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    .dataTables_info {
        font-size: 0.9em;
    }
}
