.editais {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box();
        @include box-title($cor-base, '');

        margin-top: 0;
        padding: 20px;
    }

    .list-group {
        .child {
            padding-left: 40px;
        }
    }
}
