.edital {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box-title();

        margin-top: 0;
        margin-bottom: 15px;
        padding: 20px;
    }

    &__meta {

    }

    &__date {
        font-size: 12px;
        font-style: italic;
    }

    &__content {
    }
}
