.editais {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box();
        @include box-title($cor-base, '');

        margin-top: 0;
        padding: 20px;
    }

    &__content {
        @include box();
        @include box-body($cor-base);
    }

    .list-group {
        .active {
            small,
            .small {
                color: #fff;
            }
        }

        .child {
            padding-left: 30px;
        }
    }
}
