@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Light/OpenSans-Light.eot');
  src: url('../fonts/Light/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/Light/OpenSans-Light.woff') format('woff'),
    url('../fonts/Light/OpenSans-Light.ttf') format('truetype'),
    url('../fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg'),
    url('../fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/LightItalic/OpenSans-LightItalic.eot');
  src: url('../fonts/LightItalic/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'),
    url('../fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'),
    url('../fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg'),
    url('../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Regular/OpenSans-Regular.eot');
  src: url('../fonts/Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/Regular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
    url('../fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg'),
    url('../fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/Italic/OpenSans-Italic.eot');
  src: url('../fonts/Italic/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/Italic/OpenSans-Italic.woff') format('woff'),
    url('../fonts/Italic/OpenSans-Italic.ttf') format('truetype'),
    url('../fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg'),
    url('../fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/SemiBold/OpenSans-SemiBold.eot');
  src: url('../fonts/SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/SemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/SemiBold/OpenSans-SemiBold.ttf') format('truetype'),
    url('../fonts/SemiBold/OpenSans-SemiBold.svg#OpenSansSemiBold') format('svg'),
    url('../fonts/SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.eot');
  src: url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.svg#OpenSansSemiBoldItalic') format('svg'),
    url('../fonts/SemiBoldItalic/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/Bold/OpenSans-Bold.eot');
  src: url('../fonts/Bold/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/Bold/OpenSans-Bold.woff') format('woff'),
    url('../fonts/Bold/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg'),
    url('../fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.eot');
  src: url('../fonts/BoldItalic/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'),
    url('../fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg'),
    url('../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype');
}
