.header-banner {
    background: url('../img/bg-header.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: 10px solid $cor-menu-bg;
    max-height: 430px;

    img {
        display: inline-block;
        margin: 0;
    }

    .header-foto {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .header-ps {
        @include media-breakpoint-down(md) {
            display: block;
            margin: 0 auto;
        }
    }

    .header-selo {
        vertical-align: top;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}
