.header-banner {
    background: url('../img/bg-header.png') no-repeat center center;
    background-size: cover;
    max-height: 360px;

    img {
        display: inline-block;
        margin: 0;
    }

    .header-foto {
        margin-right: 30px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .header-ps {
        @include media-breakpoint-down(md) {
            display: block;
            margin: 0 auto;
        }
    }

    .header-selo {
        margin-left: 60px;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
}
