.home-faq {
    margin-bottom: 30px;

    &__title {
        @include box();
        @include box-title($cor-base, '../img/bg-publicacoes.png');

        h3 {
            font-size: 30px;
            margin: 0;
            padding: 20px 100px 20px 20px;
        }
    }

    &__body {
        @include box();
        @include box-body($cor-base);
    }
}
