.home-atalhos {
    background: $cor-base;
    padding: $grid-gutter-width 0;
    text-align: center;

    .container-fluid {
        padding: 0;
    }

    &__title {
        color: #ffffff;
        margin: 0 10px;
        font-size: 1.9rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__title-pre {
        background: url('../img/bg-info-esq.png') right center no-repeat;
        background-color: #ffffff;
        height: 25px;
    }

    &__title-pos {
        background: url('../img/bg-info-dir.png') left center no-repeat;
        background-color: #ffffff;
        height: 25px;
    }
}
