.home-jumbo {
    background: url('../img/bg-jumbo.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.75);
    position: relative;
    text-align: center;
    z-index: 1;
}
