.home-ajuda {
    background: #ffffff url('../img/bg-ajuda.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 8px 10px -5px rgba(0,0,0,0.75);
    padding: $grid-gutter-width 0;
    position: relative;
    z-index: 1;

    &__duvida {
        text-align: center;
    }

    &__title {
        color: $cor-base;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 auto;
        max-width: 500px;
        text-align: center;
        text-transform: uppercase;
    }

    &__image {
        margin: 0 auto;
    }

    &__box {
        @include box();
        @include box-body($cor-base);

        background-color: rgba(255,255,255,0.5);
        border-top-width: 5px;
        padding: 20px;
    }

    &__box-title {
        color: $cor-apoio-secundaria;
        text-align: center;
    }
}
