.home-publicacoes {
    margin-bottom: 30px;

    &__title {
        @include box();
        @include box-title($cor-base, '../img/bg-publicacoes.png');

        h3 {
            font-size: 30px;
            margin: 0;
            padding: 20px 100px 20px 20px;
        }
    }

    &__body {
        @include box();
        @include box-body($cor-base);
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;

        p {
            color: #666666;
        }
    }

    &__item-meta {
        font-size: 0.95em;
        margin-bottom: 3px;
    }

    &__item-date {
        color: lighten($cor-base, 20%);
        margin-right: 20px;
    }

    &__item-time {
        color: #999999;
    }

    &__item-title {
        color: #000000;
        margin-bottom: 3px;
        margin-top: 0;

        a {
            color: #000000;
        }
    }

    &__btn {
        @include button-variant(#ffffff, $cor-base, lighten($cor-base, 5%));
    }
}
