.home-atalhos {
    background: $cor-base;
    padding: $grid-gutter-width 0;
    text-align: center;

    &__title {
        color: #ffffff;
        margin: 0;
    }

    &__title-pre {
        background-color: #ffffff;
        padding-right: 0;
    }

    &__title-pre-seta {
        background: url('../img/bg-info-esq.png') left center no-repeat;
        padding-left: 0;
    }

    &__title-pos-seta {
        background: url('../img/bg-info-dir.png') right center no-repeat;
        padding-right: 0;
    }

    &__title-pos {
        background-color: #ffffff;
        padding-left: 0;
    }
}
