.home-noticias {
    &__title {
        @include box();
        @include box-title($cor-apoio-box, '../img/bg-noticias.png');

        h3 {
            font-size: 30px;
            margin: 0;
            padding: 20px 100px 20px 20px;
        }
    }

    &__body {
        @include box();
        @include box-body($cor-apoio-box);
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        border-bottom: 1px solid #cccccc;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &:last-child {
            border-bottom: none;
        }

        .post-categories {
            list-style: none;
            margin-bottom: 3px;
            padding: 0;

            li {
                color: #999;
                display: inline-block;
                text-transform: uppercase;

                a {
                    color: #999;
                }

                &:after {
                    content: ', ';
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }

    &__item-meta {
        background: $cor-apoio-box;
        color: #ffffff;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 0;
        padding: 10px 0;
        text-align: center;
    }

    &__item-day {
        font-weight: bold;
        display: block;
    }

    &__item-month {
        display: block;
    }

    &__item-title {
        color: #666;
        margin-bottom: 3px;
        margin-top: 0;

        a {
            color: #666;
        }
    }

    &__btn {
        @include button-variant(#ffffff, $cor-apoio-box, lighten($cor-apoio-box, 5%));
    }
}
