.home-faq {
    &__title {
        background: url('../img/bg-faq.png') right center no-repeat;
        background-size: auto;
        color: #ffffff;
        margin-bottom: 40px;
        padding-right: 140px;

        h3 {
            font-size: 30px;
            margin: 0;
            text-transform: uppercase;
        }
    }

    &__body {
        max-height: 635px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__item {
        border: none;
        border-bottom: 1px solid $cor-apoio;
        margin-bottom: 5px;

        .card-header {
            background-color: $cor-base;
            border: none;
            padding: 0;

            a {
                color: #ffffff;
                font-weight: bold;
                text-align: left;
                text-decoration: none;
                white-space: normal;
            }

            [data-toggle="collapse"]:before{
                content: "\25bc";
                color: $cor-apoio;
            }

            [data-toggle="collapse"].collapsed:before{
                content: "\25b6";
                color: $cor-apoio;
            }
        }

        .card-body {
            background-color: $cor-base;
            color: $cor-destaque;
            font-size: 90%;
            padding-left: 33px;
        }
    }
}
