.home-ajuda {
    background: $cor-base;
    padding: ($grid-gutter-width * 2) 0 0 0;

    &__duvida {
        text-align: center;
    }

    &__title {
        border-top: 20px solid $cor-apoio;
        color: #ffffff;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: -($grid-gutter-width * 2);
        max-width: 500px;
        padding-top: $grid-gutter-width + 10px;
        text-align: center;
        text-transform: uppercase;
    }

    &__image {
        margin: 0 auto;
    }

    &__box {
        background-color: $cor-apoio;
        color: #ffffff;
        padding: 40px;
        text-align: center;
    }

    &__box-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
}
