.menu-main {
    background-color: $cor-menu-bg;

    .navbar {
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 0;
        padding-top: 0;
    }

    .nav-link {
        align-items: center;
        display: flex;
        font-weight: bold;
        height: 75px;
        min-width: 75px;
        text-align: center;

        &:hover {
            background-color: $cor-apoio;
        }
    }

    .current-menu-item {
        background-color: $cor-apoio;
    }
}
