@mixin decorated-border() {
    background-color: #fff;
    border: 3px solid #0a698e;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
@mixin box() {
    border-radius: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.75);
}
