@mixin box-title() {
    align-items: center;
    background-color: $cor-apoio;
    background-image: url('../img/bg-title-esq.png'), url('../img/bg-title-dir.png');
    background-position: left center, right center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    margin-bottom: 20px;
    min-height: 77px;
    padding: 0 85px 0 140px;
    text-align: left;
}

@mixin ps-btn() {
    background: #ffffff url('../img/btn.png') 3% center no-repeat;
    font-weight: bold;
    padding-left: 40px;
}

@mixin btn-chamadas() {
    @include button-variant(#ffffff, #ffffff);

    border-style: solid;
    border-width: 3px 15px;
    border-image: url('../img/border-btn.png') 3 10 repeat;
    transition: all 0.3s ease 0s;

    &:hover {
        background: none;
        border-image: url('../img/border-btn-hover.png') 3 10 repeat;
        color: $cor-base;
    }

}

@mixin badge-chamadas() {
    @include badge-variant($cor-base);

    background-color: $cor-apoio;
    background-image: url('../img/bg-badge-esq.png'), url('../img/bg-badge-dir.png');
    background-position: left center, right center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 3px 6px 3px 20px;
}
