.modalidades {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box-title();

        margin-bottom: 20px;

        h2 {
            display: inline-block;
            margin: 0;
        }

        .dropdown {
            display: inline-block;
        }
    }

    &__content {
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
