.modalidades {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box();
        @include box-title($cor-base, '');

        margin-bottom: 20px;
        padding: 20px;

        h2 {
            display: inline-block;
            margin: 0;
        }

        .dropdown {
            display: inline-block;
        }
    }

    &__content {
        @include box();
        @include box-body($cor-base);
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}
