body {
    background: url('../img/bg.png') repeat;
    background-color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#body {
    background: url('../img/watermark.png') left top no-repeat;
    background-color: transparent;
    background-size: contain;
    padding-bottom: $grid-gutter-width;
}
