.publicacao {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box();
        @include box-title($cor-base, '');

        margin-top: 0;
        margin-bottom: 15px;
        padding: 20px;
    }

    &__date {
        font-size: 12px;
        font-style: italic;
    }

    &__content {
        @include box();
        @include box-body($cor-base);

        margin-top: $grid-gutter-width / 2;
    }
}
