$cor-base:                    #e19631;
$cor-base-secundaria:         #ec8d25;
$cor-apoio:                   #d16d11;
$cor-destaque:                #57585A;

$cor-menu-bg:                 $cor-base-secundaria;
$cor-menu-item:               #ffffff;

$cor-campi:                   $cor-base;

$cor-rodape:                  $cor-apoio;

$cor-azul-resultados:         #1A3D75;
$cor-modalidades:             #05827e;
$cor-formasingresso:          #7f1b66;

// Fonts
$FontPathOpenSans:            '../fonts/opensans';

// Fancybox
$image-path:                  '../img/vendor/';

// Bootstrap
$font-family-sans-serif:      "Open Sans", Arial, sans-serif;
$icon-font-path:              '../fonts/bootstrap/';

$link-color:                  #ac5d27;
$navbar-dark-color:           rgba(255,255,255,.80);
$navbar-dark-hover-color:     rgba(255,255,255,.90);

$nav-pills-link-active-color: #ffffff;
$nav-pills-link-active-bg:    $cor-campi;
