.widget-jumbo {
    &__title {
        background: $cor-base-secundaria;
        color: #ffffff;
        display: inline-block;
        font-size: 42px;
        font-weight: 300;
        margin: 0 0 40px 0;
        padding: 20px 40px 10px 40px;
        text-align: center;
    }
}
