/* kumbh-sans-100 - latin */
// @font-face {
//   font-display: swap;
//   font-family: 'Kumbh Sans';
//   font-style: normal;
//   font-weight: 100;
//   src: url('../fonts/kumbh-sans-v22-latin-100.woff2') format('woff2');
// }

/* kumbh-sans-200 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/kumbh-sans-v22-latin-200.woff2') format('woff2');
}

/* kumbh-sans-300 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/kumbh-sans-v22-latin-300.woff2') format('woff2');
}

/* kumbh-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/kumbh-sans-v22-latin-regular.woff2') format('woff2');
}

/* kumbh-sans-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/kumbh-sans-v22-latin-500.woff2') format('woff2');
}

/* kumbh-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/kumbh-sans-v22-latin-600.woff2') format('woff2');
}

/* kumbh-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/kumbh-sans-v22-latin-700.woff2') format('woff2');
}

/* kumbh-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/kumbh-sans-v22-latin-800.woff2') format('woff2');
}

/* kumbh-sans-900 - latin */
// @font-face {
//   font-display: swap;
//   font-family: 'Kumbh Sans';
//   font-style: normal;
//   font-weight: 900;
//   src: url('../fonts/kumbh-sans-v22-latin-900.woff2') format('woff2');
// }
