@font-face {
  font-family: 'Inter';
  font-display: optional;
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v3-latin-regular.woff2') format('woff2'),
       url('../fonts/inter-v3-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: optional;
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/inter-v3-latin-700.woff2') format('woff2'),
       url('../fonts/inter-v3-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-display: optional;
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/inter-v3-latin-900.woff2') format('woff2'),
       url('../fonts/inter-v3-latin-900.woff') format('woff');
}
