/* bricolage-grotesque-200 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/bricolage-grotesque-v1-latin-200.woff2') format('woff2');
}

/* bricolage-grotesque-300 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/bricolage-grotesque-v1-latin-300.woff2') format('woff2');
}

/* bricolage-grotesque-regular - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bricolage-grotesque-v1-latin-regular.woff2') format('woff2');
}

/* bricolage-grotesque-500 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/bricolage-grotesque-v1-latin-500.woff2') format('woff2');
}

/* bricolage-grotesque-600 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/bricolage-grotesque-v1-latin-600.woff2') format('woff2');
}

/* bricolage-grotesque-700 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/bricolage-grotesque-v1-latin-700.woff2') format('woff2');
}

/* bricolage-grotesque-800 - latin */
@font-face {
  font-display: optional;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/bricolage-grotesque-v1-latin-800.woff2') format('woff2');
}
