footer {
    background-color: #ffffff;
    color: $gray-800;
    padding-top: $grid-gutter-width;
    padding-bottom: 15px;

    a {
        color: #000000;
        font-weight: bold;

        &:hover {
            color: inherit;
        }
    }
}
