header {
    // background: linear-gradient(90deg, $primary 50%, #f3f3f3 50%);
    background-image: url('../img/header-bg.png');
    background-position: center top;
    background-repeat: repeat-x;
    background-size: cover;
}
