header {
  background-color: #ffffff;
  background-image: var(--bg-xs, none);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: cover;

  @include media-breakpoint-up(sm) {
    background-image: var(--bg-sm, none);
  }

  @include media-breakpoint-up(md) {
    background-image: var(--bg-md, none);
  }

  @include media-breakpoint-up(lg) {
    background-image: var(--bg-lg, none);
  }

  @include media-breakpoint-up(xl) {
    background-image: var(--bg-full, none);
  }
}

.header-text {
  color: #ffffff;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: center;
}

.header-content {
  $header-content-height: 260px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  max-height: $header-content-height;
  color: $gray-100;

  &__extra-image {
    @include img-fluid;

    display: none;
    object-fit: contain;
    object-position: bottom;

    @include media-breakpoint-up(lg) {
      display: block;
      flex: 0 1 auto;
      width: auto;
      height: min(17vw, $header-content-height);
    }
  }

  .custom-logo-link {
    display: flex;
    flex: 0 1 auto;
    max-width: 100%;
    text-align: center;

    &:hover {
      text-decoration: none;
    }

    .custom-logo {
      @include img-fluid;

      width: auto;
      height: auto;
      max-height: $header-content-height;
      object-fit: contain;
      object-position: bottom;

      @include media-breakpoint-up(lg) {
        height: min(17vw, $header-content-height);
      }
    }
  }
}
