.chamada {
  &__documento-link {
    &::after {
      float: right;
      display: block;
      padding: 5px;
      content: '';
      border: solid black;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      transition: transform 0.2s;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &.collapsed {
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}
