.creditos {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
  background-color: #ffffff;

  a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
  }

  img {
    opacity: 0.75;
  }
}
