@use "sass:math";

.cursos {
  margin-bottom: 2rem;

  &__text {
    margin-bottom: 2rem;
  }

  &__filters {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: $grid-gutter-width;
    margin: $grid-gutter-width 0;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.curso {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 1rem;
  color: var(--bs-primary-text-emphasis);
  background-color: var(--bs-primary-bg-subtle);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: var(--bs-box-shadow-sm);

  &__header {
    margin-bottom: 0.25rem;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__help {
    margin-inline-start: 0.1rem;
    font-size: 0.875em;
    font-weight: 500;
    text-decoration: dotted underline;
    cursor: help;
  }

  &__footer {
    margin-top: auto;

    p {
      margin-bottom: 0;
    }
  }
}
