.faq {
  margin-bottom: 2rem;

  &__busca {
    max-width: 360px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }

  &__perguntas {
    padding: 0;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
    }

    @include media-breakpoint-up(xl) {
      width: 50%;
      margin-right: auto;
      margin-left: auto;
    }

    .accordion-item {
      margin-bottom: 0;
    }

    .accordion-button {
      &:not(.collapsed) {
        font-weight: bold;
      }
    }

    .accordion-collapse {
      margin-bottom: 0;
    }

    .accordion-body {
      font-size: 0.9rem;

      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
