body.admin-bar {
    nav.menu {
        top: var(--wp-admin--admin-bar--height, 46px);
    }
}

nav.menu {
    background-color: $gray-100;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);

    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-principal {
    @include list-unstyled();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;

    margin: 0;

    .nav-item {
        flex: 0 1 auto;
        margin: 0;
        text-transform: uppercase;
    }

    .nav-link {
        border-bottom: 4px solid transparent;
        color: color-contrast($gray-100);
        font-weight: 500;
        padding: ($btn-padding-y * 3) $btn-padding-x;

        &:hover,
        &:focus {
            border-bottom-color: $primary;
        }

        &.active {
            font-weight: bold;
            border-bottom-color: $primary;
        }

        &.destaque {
            &:hover,
            &:focus {
                border-bottom-color: transparent;
            }
        }
    }

    .dropdown-toggle {
        &::after {
            transition: transform 500ms;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        &.show {
            &::after {
                transform: rotateX(-540deg);
            }
        }
    }

    // .current-menu-item,
    .current-menu-ancestor {
        > .nav-link {
            border-bottom-color: $primary;
            font-weight: bold;
        }
    }
}
