.menu-social {
  display: inline-block;
  padding: 0;
  font-size: 0;
  list-style: none;
  margin-bottom: 0;

  &__item {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-right: 0.5rem;
    font-size: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $primary;
    border-radius: $border-radius-pill;

    svg {
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
    }

    &--facebook {
      &:hover,
      &:focus {
        background-color: #1877f2;
        border-color: #1877f2;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &--twitter {
      &:hover,
      &:focus {
        background-color: #14171a;
        border-color: #14171a;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &--instagram {
      &:hover,
      &:focus {
        background-color: #e1306c;
        border-color: #e1306c;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &--youtube {
      &:hover,
      &:focus {
        background-color: #ff0000;
        border-color: #ff0000;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }

    &--linkedin {
      &:hover,
      &:focus {
        background-color: #0A66C2;
        border-color: #0A66C2;

        svg {
          path {
            fill: #ffffff;
          }
        }
      }
    }
  }
}
