@mixin title() {
    color: $cor-vermelho;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        padding-left: 60px;

        &::after {
            content: '';
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 58px;
            height: 110%;
            z-index: 1;
            opacity: 0.25;

            background: url('../img/bg-vertical.png') repeat-y left bottom;
        }
    }
}

@mixin btn-ps() {
    background: #ffffff url('../img/btn.png') 3% center no-repeat;
    border-left: 4px solid $cor-amarelo;
    color: $cor-vermelho;
    text-transform: uppercase;
}

@mixin badge-chamadas() {
    @include badge-variant($cor-amarelo);

    color: $cor-base;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
}
