@mixin title() {
    color: $gray-800;
    font-weight: bolder;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: left;
    text-transform: uppercase;
}

@mixin btn-ps() {
    border-left: 4px solid $primary;
    text-transform: uppercase;
}

@mixin badge-chamadas() {
    background-color: $gray-800;
    color: $primary;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 20px;
}
