$cor-base:                    #939597;

$header-margin:               30px;

/* Bootstrap */
$font-family-sans-serif:      "Open Sans", Arial, sans-serif;

$primary: #f5df4d;

$link-color:                  $cor-base;

$breadcrumb-bg:               none;
$breadcrumb-active-color:     $cor-base;
$breadcrumb-padding-y:        30px;

$nav-pills-link-active-color: #ffffff;
$nav-pills-link-active-bg:    $primary;
