$cor-base:                #58595b;
$cor-apoio:               #f1f2f2;
$cor-turquesa:            #1ca29f;
$cor-vermelho:            #d5544c;
$cor-laranja:             #e4a302;
$cor-amarelo:             #edd247;

$header-margin:           30px;

$cor-modalidades:         #05827e;
$cor-formasingresso:      #7f1b66;
$cor-campi:               $cor-base;

// Bootstrap
$font-family-sans-serif:  "Open Sans", Arial, sans-serif;

$link-color:              $cor-base;

$breadcrumb-bg:           none;
$breadcrumb-active-color: $cor-vermelho;
$breadcrumb-padding-y:    30px;

$nav-pills-link-active-color:       #ffffff;
$nav-pills-link-active-bg:          $cor-laranja;
