/* fade image in after load */
.lazyload {
    opacity: 0;
}

.lazyloading {
    opacity: 1;
    background: transparent url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.0%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%20128%20128%22%3E%3Cscript%20type%3D%22text%2Fecmascript%22%20xlink%3Ahref%3D%22%2F%2Ffaviconer.net%2Fjscripts%2Fsmil.user.js%22%2F%3E%3Cg%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%2216%22%20fill%3D%22%23f5df4d%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%2214.344%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%2845%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%2212.531%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%2890%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%2210.75%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%28135%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%2210.063%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%28180%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%228.063%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%28225%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%226.438%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%28270%2064%2064%29%22%2F%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2264%22%20r%3D%225.375%22%20fill%3D%22%23f5df4d%22%20transform%3D%22rotate%28315%2064%2064%29%22%2F%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20values%3D%220%2064%2064%3B315%2064%2064%3B270%2064%2064%3B225%2064%2064%3B180%2064%2064%3B135%2064%2064%3B90%2064%2064%3B45%2064%2064%22%20calcMode%3D%22discrete%22%20dur%3D%22640ms%22%20repeatCount%3D%22indefinite%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center;
    transition: opacity 250ms;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}

.lazyloaded {
    opacity: 1;
    transition: opacity 250ms;

    @media (prefers-reduced-motion: reduce) {
        transition: none;
    }
}
