.alignnone {
    @extend .clearfix;
}

.aligncenter {
    @extend .mx-auto;
}

.alignleft {
    @extend .float-left;
    margin-right: 10px;
}

.alignright {
    @extend .float-right;
    margin-left: 10px;
}

.wp-caption-text {
    font-size: 80%;
}
