.screen-reader-text {
    @extend .visually-hidden;
}

.alignnone {
    @extend .clearfix;
}

.aligncenter {
    @extend .mx-auto;
}

.alignleft {
    float: left;
    margin-right: 10px;
}

.alignright {
    float: right;
    margin-left: 10px;
}

.wp-caption-text {
    font-size: 80%;
}

.wp-block-file:not(.wp-element-button) {
    font-size: 1rem;
}
