.ajuda {
    background-color: $accent;
    border-radius: $border-radius;
    color: color-contrast($accent);
    padding: 3rem 1rem;

    & > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}
