.aside {
    border-top: 1px solid $gray-400;
    color: $gray-600;
    margin-bottom: $grid-gutter-width;
    margin-top: $grid-gutter-width;

    &__title {
        color: $gray-800;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
    }

    &__content {
        @include media-breakpoint-up(md) {
            columns: 2;
        }
    }

    &__item {
        color: $primary;
        margin-bottom: 2rem;

        page-break-inside: avoid;   /* Theoretically FF 20+ */
        break-inside: avoid-column; /* Chrome, Safari, IE 11 */
        display:table;              /* Actually FF 20+ */
    }

    &__item-title {
        color: inherit;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.25rem;

        a {
            color: inherit;
        }
    }

    &__item-meta {
        color: $gray-800;
        font-size: 0.9rem;
        margin: 0;
    }
}
