.aside {
    color: $cor-base;
    margin-bottom: $grid-gutter-width;

    &__title {
        font-size: 1.8rem;
    }

    &__content {
        text-align: right;
    }

    &__item {
        background: $cor-amarelo;
        display: inline-block;
        margin-bottom: 10px;
        padding: 5px;
    }

    &__item-title {
        color: $cor-base;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 3px;

        a {
            color: $cor-base;
        }
    }

    &__item-meta {
        color: $cor-base;
        font-size: 0.9rem;
        margin: 0;
    }
}
