.avisos {
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 1.5rem 2rem;
  max-width: 100%;

  .is-layout-flex > & {
    flex: 1 1 min-content;
  }
}
