.widget-chamadas {
    background-color: transparent;
    margin-top: 50px;

    &__title {
        background: no-repeat center center;
        background-size: contain;
        margin-bottom: 10px;
        min-height: 130px;
        min-width: 290px;

        &.lazyloaded {
            background-image: url('../img/title-chamadas.png');
        }

        h2 {
            font-size: 32px;
            margin: 0;
        }
    }
}

#chamadas {
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    text-align: left;

    #formasingresso {
        text-align: center;
    }

    .breadcrumb {
        background-color: $cor-base;
        color: #ffffff;

        &-item {
            a {
                color: #ffffff;
                font-weight: bold;
            }

            &.active {
                color: #ffffff;
            }

            &:before {
                color: #ffffff;
            }
        }
    }

    .btn {
        margin-bottom: 10px;
    }

    .chamadas {
        .list-group-item {
            border-left: 10px solid $cor-base;
            color: $cor-apoio;
            text-align: left;

            &:hover {
                color: $cor-base;
            }
        }
    }
}

.btn-formaingresso {
    @include btn-chamadas();
}

.btn-modalidade {
    @include btn-chamadas();
}

.btn-campus {
    @include btn-chamadas();
}

.label-formaingresso {
    @include badge-chamadas();
}

.label-modalidade {
    @include badge-chamadas();
}

.label-campus {
    @include badge-chamadas();
}

.chamada-labels {
    .badge {
        font-size: 90%;
    }
}

.chamada-documentos__link {
    &::after {
        border: solid black;
        border-width: 0 3px 3px 0;
        content: '';
        display: block;
        float: right;
        padding: 5px;
        transform: rotate(45deg);
        transition: transform 0.2s;
    }
    &.collapsed {
        &::after {
            transform: rotate(-45deg);
        }
    }
}
