.widget-chamadas {
    background-color: transparent;
    text-align: center;

    &__title {
        margin: 0 0 10px 0;
        font-family: "Rubik", #{$font-family-base};
        font-size: minmax(1.5rem, 2.5rem);
        font-weight: bold;
        text-align: center;
        word-wrap: break-word;
        hyphens: auto;
    }
}

.chamadas {
    padding: 20px 0;

    &__text {
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    &__formasingresso {
        @include media-breakpoint-up(md) {
            .btn-block {
                max-width: 50%;
            }
        }
    }

    &__list {
        .list-group-item {
            border-left: 10px solid $cor-apoio;
            color: $gray-600;
            text-align: left;

            &:hover {
                color: $cor-apoio;
            }
        }
    }

    .breadcrumb {
        background: none;
        color: $cor-apoio;
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 0;

        &-item {
            font-size: 0.95rem;

            a {
                color: $cor-apoio;
                font-weight: bold;
            }

            &.active {
                color: $gray-700;
            }
        }
    }
}

.btn-formaingresso {
    @include button-variant(#ffffff, $gray-700, $primary, $primary, $primary, $primary);

    font-weight: bold;
    margin: 0 auto 5px auto;
    text-transform: uppercase;
}

.btn-campus {
    @include button-variant(transparent, transparent, $primary, $primary, $primary, $primary);

    color: $gray-700;
    margin: 0 auto 5px auto;
    text-align: center;
    text-transform: uppercase;
}

.badge-modalidade {
    @include badge-chamadas();
}

.badge-campus {
    @include badge-chamadas();
}

.badge-formaingresso {
    @include badge-chamadas();
}

.chamada {
    margin: 0 auto 40px auto;
    text-align: center;

    @include media-breakpoint-up(sm) {
        max-width: 50%;
    }

    &__link {
        @include button-variant(#ffffff, $gray-700, $primary, $primary, $primary, $primary);

        display: block;
    }

    &__title {
        border-bottom: 1px solid rgba($color: $gray-600, $alpha: 0.5);
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 5px;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;

    }

    &__meta {
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
    }

    &__badges {
        font-size: 0.85rem;
        margin: 0;
    }
}
