.creditos {
    background-color: #ffffff;

    p {
        margin: 0;
        padding: 1rem 0;
        text-align: center;
        font-size: 0.8rem;

        a {
            color: #000000;
        }
    }
}
