.cursos {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include title();

        small {
            display: block;
            font-size: 0.65em;
        }
    }

    &__filters {
        margin-bottom: 10px;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            margin-top: 40px;
        }
    }

    &__nav {
        .nav-link {
            color: $cor-apoio;
        }
    }

    &__content {
        a {
            color: $cor-apoio;
        }
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    a {
        color: $primary;
    }

    .dataTables_info {
        font-size: 90%;
    }
}
