.cursos {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include box-title();

        margin-top: 0;
    }

    &__content {
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    .dataTables_info {
        font-size: 90%;
    }
}
