@use "sass:math";

.cursos {
    &__title {
        @extend %ps-title;

        small {
            display: block;
            font-size: 0.65em;
        }
    }

    &__filters {
        margin-bottom: 10px;

        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            margin-top: 40px;
        }
    }

    &__nav {
        .nav-link {
            color: $gray-800;
        }
    }

    .dataTables_wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

.tab-content {
    margin-bottom: math.div($grid-gutter-width, 2);

    a {
        color: darken($link-color, 15%);
    }

    .dataTables_info {
        font-size: 90%;
    }
}
