.editais {
    margin-bottom: 30px;

    &__title {
        @include title();

        margin-top: 0;
    }

    .list-group {
        .child {
            padding-left: 40px;
        }
    }

    h3 {
        font-size: 1.5rem;
    }
}
