.edital {
    margin-bottom: $grid-gutter-width;

    &__title {
        @extend %ps-title;

        font-size: 1.5rem;
    }

    &__date {
        font-size: 12px;
        font-style: italic;
    }

    &__content {
        .list-group-item {
            word-wrap: break-word;
        }
    }

    &__files-title {
        font-size: 1.5rem;
        margin-top: 0.75rem;
        text-align: center;
    }
}
