.etapas-timeline {
  max-width: 100%;
  padding: 1.5rem 2rem;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .is-layout-flex > & {
    flex: 1 1 min-content;
  }

  &__titulo {
    margin-bottom: 1.5rem;
  }

  &__list {
    position: relative;
    padding: 0;
    list-style: none;

    &::after {
      position: absolute;
      top: 0;
      left: calc(#{$card-spacer-x} + 0.5rem + 10px);
      z-index: 5;
      width: 2px;
      height: 100%;
      content: '';
      background-color: $gray-400;
    }
  }
}

.etapa {
  $self: &;

  position: relative;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
  gap: 0.75rem;
  align-items: start;
  justify-content: start;
  padding: $card-spacer-y $card-spacer-x;
  background-color: $gray-200;
  border-radius: $border-radius-lg + $card-spacer-x;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &--atual {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);

    #{$self}__icone {
      color: $white;
      background-color: var(--bs-primary);
    }

    #{$self}__periodo {
      font-weight: 500;
    }

    #{$self}__titulo {
      font-weight: 600;
    }
  }

  &--passado {
    color: $text-muted;
    opacity: 0.8;
  }

  &__icone {
    flex: 0 0 auto;
    width: 48px; height: auto;
    padding: 0.5rem;
    margin-top: 3px;
    color: $gray-700;
    background-color: var(--bs-primary-bg-subtle);
    border-radius: $border-radius-lg;
  }

  &__conteudo {
    flex: 1 1 auto;
  }

  &__periodo {
    margin: 0;
  }

  &__titulo {
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }
}
