.faixa-destaque {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;

  background-color: $primary;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  box-shadow: $box-shadow-sm;
  color: color-contrast($primary);
  font-size: 1.25rem;
  font-weight: 500;
  min-height: 60px;
  padding: 0.5rem 1rem;
  text-align: center;
}
