.site-map {
    background-color: $cor-menu-bg;
    color: #fff;
    padding-top: 24px;
    padding-bottom: 32px;

    a {
        color: #fff;
    }
}

.footer-menu {
    list-style: none;
    padding: 0;

    >.menu-item {
        display: block;
        float: left;
        margin-right: 64px;
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .sub-menu {
        list-style: none;
        padding: 0;
        margin-top: 8px;
        margin-bottom: 8px;

        >.menu-item {
            font-size: 1rem;
            font-weight: normal;
            text-transform: none;
        }
    }
}

footer {
    background-color: $cor-rodape;
    color: #fff;
    font-weight: bold;
    padding-top: $grid-gutter-width;
    padding-bottom: 15px;

    a {
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .social-link {
        margin-right: 5px;
    }

    .footer-logo {
        >img {
            margin-bottom: 8px;
        }
    }

    .footer-address {
        text-align: right;
        p {
            margin-bottom: 3px;
        }
    }
}

.footer-bottom {
    background-color: #fff;

    p {
        padding-top: 10px;
        text-align: center;
        font-size: 80%;

        a {
            color: #000;
        }
    }
}
