.header {
    &__link {
        display: inline-block;
        margin-top: 1.5rem;

        &:hover {
            text-decoration: none;
        }
    }

    &__social {
        margin: 1rem 0;
        text-align: center;
    }

    &__search {
        margin: 1rem 0;
    }
}
