.header {
    .custom-logo-link {
        display: inline-block;

        &:hover {
            text-decoration: none;
        }

        .custom-logo {
            @include img-fluid();
        }
    }

    .extra-header-image {
        @include img-fluid();
    }

    p {
        font-weight: 600;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1rem;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__social {
        margin: 1rem 0;
        text-align: center;
    }

    &__search {
        margin: 1rem 0;
    }
}
