.home-ajuda {
    background-color: $secondary;
    background-image: url('../img/ajuda-bg.xs.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: #ffffff;
    padding: 3rem 0;

    @include media-breakpoint-up(md) {
        background-image: url('../img/ajuda-bg.md.png');
    }

    @include media-breakpoint-up(xl) {
        background-image: url('../img/ajuda-bg.xl.png');
    }

    @include media-breakpoint-up(xxl) {
        background-image: url('../img/ajuda-bg.xxl.png');
    }

    a {
        color: #ffffff;

        &:active,
        &:hover {
            color: $gray-400;
        }
    }

    &__title {
        @extend %ps-title;
        color: #ffffff;
        margin-top: 0;
        text-align: center;
    }

    &__widget {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .wp-block-buttons {
            text-align: center;
        }

        .wp-block-button {
            display: block;
            margin-bottom: 1rem;

            &__link {
                @extend .btn;
                @include button-variant($gray-200, $gray-300, color-contrast($gray-200), $secondary, $secondary, color-contrast($secondary));

                border-radius: 0;
                text-transform: uppercase;
            }
        }
    }
}
