.home-cursos {
    min-height: 800px;

    .container {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: -30px;
            left: 20px;
            width: 58px;
            height: 300px;
            z-index: 1;
            opacity: 0.25;

            background: url('../img/bg-vertical.png') repeat-y left top;
        }
    }
}
