.home-atalhos {
    background: $gray-700;
    padding: 0;
    text-align: center;
    overflow-y: visible;

    &__content {
        align-items: flex-end;
        background: $gray-600;
        justify-content: center;
        padding: 40px 0;

        >.widget-atalhos {
            margin-bottom: 10px;
        }
    }
}
