.home-avisos {
    &__title {
        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }

    &__content {
        padding-left: 30px;
    }

    &__item {
        margin-bottom: 30px;

        .post-categories {
            list-style: none;
            margin-bottom: 3px;
            padding: 0;

            li {
                color: $cor-vermelho;
                display: inline-block;
                font-size: 0.85rem;

                a {
                    color: $cor-vermelho;
                }

                &:after {
                    content: ', ';
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }

    &__item-meta {
        color: #000000;
        display: inline-block;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
            font-size: 22px;
        }
    }

    &__item-day {
        background: $cor-laranja;
        display: inline-block;
        font-weight: bold;
        margin: 0 auto;
        padding: 5px 15px 2px 15px;
    }

    &__item-month {
        background: $cor-laranja;
        display: inline-block;
        font-weight: bold;
        margin: 0 auto;
        padding: 2px 20px 5px 15px;
        text-transform: uppercase;
    }

    &__item-title {
        color: $cor-turquesa;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: $cor-turquesa;
        }
    }

    &__btn {
        @include button-variant(#ffffff, #ffffff);
        @include btn-ps();
    }
}
