.home-chamadas {
    background-color: $primary;
    background-image: url('../img/chamadas-bg.png');
    background-position: center top;
    background-repeat: repeat;
    color: #ffffff;
    padding: 2rem 0;

    .container {
        min-height: 350px;
    }
}
