.home-ajuda {
    background: $cor-apoio;
    padding: ($grid-gutter-width * 2) 0 0 0;

    &__image {
        background: url('../img/home-ajuda.png') center center no-repeat;
        margin: 0 auto;
        min-height: 579px;
        min-width: 448px;
    }

    .container {
        border-bottom: 70px solid $cor-amarelo;
    }
}
