.home-ajuda {
    background-color: $primary;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: color-contrast($primary);
    padding: 3rem 0;

    a {
        color: inherit;

        &:active,
        &:hover {
            color: $gray-400;
        }
    }

    &__title {
        @extend %ps-title;

        color: inherit;
        margin: {
            top: 0;
            bottom: 2rem;
        }
        text-align: center;
    }

    &__widget {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .wp-block-buttons {
            text-align: center;
        }

        .wp-block-button {
            display: block;
            margin-bottom: 1rem;

            &__link {
                @extend .btn;
                @include button-variant($gray-900, $gray-900, color-contrast($gray-900));

                text-transform: uppercase;
            }
        }
    }

    .wp-element-caption {
        color: #ffffff;
    }
}
