.home-avisos {
    text-align: center;

    &__title {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__content {
        text-align: left;
    }

    &__item {
        display: flex;
        justify-content: center;
        justify-items: center;
        margin-bottom: 30px;

        .post-categories {
            list-style: none;
            margin-bottom: 3px;
            padding: 0;

            li {
                color: $primary;
                display: inline-block;
                font-size: 0.85rem;

                a {
                    color: inherit;

                    &:hover {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }

                &:after {
                    content: ', ';
                }

                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }

    &__item-meta {
        color: $gray-900;
        display: block;
        flex: 0 0 16%;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 0;
        margin-right: 30px;

        @include media-breakpoint-down(sm) {
            font-size: 22px;
        }
    }

    &__item-day {
        background: $primary;
        display: inline-block;
        font-weight: bold;
        margin: 0 auto;
        padding: 3px 5px 2px 5px;

        @include media-breakpoint-up(sm) {
            padding: 5px 15px 2px 15px;
        }
    }

    &__item-month {
        background: $primary;
        display: inline-block;
        font-weight: bold;
        margin: 0 auto;
        padding: 1px 5px 2px 5px;
        text-transform: uppercase;

        @include media-breakpoint-up(sm) {
            padding: 2px 20px 5px 15px;
        }
    }

    &__item-content {
        flex: 0 1 auto;
    }

    &__item-title {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__btn {
        @include button-variant(#ffffff, $gray-200, $primary, $primary);
        @include btn-ps();
    }
}
