.home-publicacoes {
    margin-bottom: 30px;

    &__title {
        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }

    &__body {
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        border-bottom: 1px solid #cccccc;
        margin-bottom: 15px;
        padding-bottom: 10px;

        p {
            color: $cor-destaque;
            margin-bottom: 0;
        }
    }

    &__item-meta {
        font-size: 0.9rem;
        margin-bottom: 3px;
    }

    &__item-date {
        color: $cor-apoio;
        margin-right: 20px;
    }

    &__item-time {
        color: $cor-destaque;
    }

    &__item-title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;
    }

    &__btn {
        @include button-variant(#ffffff, #ffffff);
        @include ps-btn();
    }
}
