@use 'sass:math';
@use 'sass:color';

.intro-helper-block {
  max-width: 100%;
  padding: 1.5rem 2rem;
  background-color: $white;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  .is-layout-flex > & {
    flex: 1 1 min-content;
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    min-height: 10rem;
    background: $light;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  &__step-content {
    padding: $card-spacer-y $card-spacer-x;
  }

  &__step-number {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.75rem;
    height: 1.75rem;
    padding: 0 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: $gray-400;
  }

  &__step-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5rem 0;
    color: $accent;
  }

  &__step-icon svg {
    display: block;
    width: 4rem;
  }

  &__step-text {
    margin: 0;
    font-weight: 600;
    text-align: center;
  }

  &__step-link {
    padding: math.div($spacer, 2);
    margin-top: auto;
    font-weight: 500;
    color: color-contrast($accent);
    text-align: center;
    text-decoration: none;
    background-color: $accent;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    transition: $transition-base;

    &:hover {
      color: color-contrast(color.adjust($accent, $lightness: -10%));
      background-color: color.adjust($accent, $lightness: -10%);
    }
  }

  &__content {
    margin-bottom: 1.5rem;
  }

  &__links-title {
    margin-bottom: 1rem;
  }

  &__links {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    > * {
      flex: 1 1 250px;
      width: min-content;
    }

    button {
      font-weight: 600;

      svg {
        margin-inline-end: 0.25rem;
        vertical-align: center;
      }
    }
  }

  &__no-items {
    margin-bottom: 0;
  }
}
