.menu {
    background-color: $gray-200;
    padding: 15px;
}

.menu-principal {
    justify-content: center;

    .menu-item {
        @extend .nav-item;

        color: $primary;
        text-transform: uppercase;

        + .menu-item {
            margin-left: 10px;
        }

        > a {
            @extend .nav-link;

            background-color: $primary;
            color: $gray-800;

            &:hover,
            &:focus {
                background-color: $gray-800;
                color: $primary;
            }
        }
    }

    .sub-menu {
        a {
            &:hover,
            &:focus {
                background-color: $primary;
                color: #ffffff;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
    }


    .dropright {
        &:after {
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            color: $cor-base;
            content: '';
            display: inline-block;
            height: 0.8em;
            right: 8px;
            position: absolute;
            top: 30%;
            transform: rotate(45deg);
            transition: .5s ease-in-out;
            vertical-align: middle;
            width: 0.8em;
        }

        &.show {
            > a {
                background-color: $primary;
                color: $gray-700;
            }

            &:after {
                transform: rotate(-495deg);
            }
        }
    }

    .current-menu-item,
    .current-menu-parent {
        > a {
            font-weight: bold;
        }
    }
}

.btn-menu-toggle {
    @include button-variant($gray-700, $gray-700);

    color: $primary;

    @include media-breakpoint-down(md) {
        + .menu-navbar {
            margin-top: 15px;
        }
    }
}
