.navbar-light {
    background-color: $primary;
}

.menu-principal {
    .nav-item {
        margin: {
            top: 0.3rem;
            right: 0.5rem;
            bottom: 0.3rem;
            left: 0;
        };
        text-transform: uppercase;
    }

    .nav-link {
        color: color-contrast($primary);
        font-weight: 500;

        &:hover,
        &:focus {
            // font-weight: bold;
            background-color: $white;
            color: $primary;
        }

        &.active {
            background-color: $white;
            color: $primary;
            font-weight: 900;
        }

        &.destaque {
            background-color: $accent-shade;
            border: 2px solid $body-color;
            border-radius: $border-radius-pill;
            color: color-contrast($accent-shade);
            font-weight: 900;
            padding: var(--bs-navbar-nav-link-padding-x);
            width: fit-content;

            @include media-breakpoint-up(lg) {
                margin-left: 0.5rem;
            }

            &:hover,
            &:focus {
                $bg: shade-color($accent, 50%);
                background-color: $bg;
                color: color-contrast($bg);
            }
        }
    }

    .dropdown-toggle {
        &::after {
            transition: transform 500ms;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        &.show {
            &::after {
                transform: rotateX(-540deg);
            }
        }
    }

    .current-menu-item,
    .current-menu-ancestor {
        > a {
            font-weight: bold;
        }
    }
}
