.menu-social {
    background-color: $cor-bg;
    display: inline-block;
    font-size: 0;
    list-style: none;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: right;
    }

    li {
        font-size: 1rem;
    }

    &__item {
        display: inline-block;
        margin-right: 5px;
        width: 38px;
        height: 38px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        background: url('../img/social.png') no-repeat center center;
        display: block;
        width: 100%;
        height: 100%;

        $sprite: -38px;

        &--facebook {

            background-position: 0 0;

            &:hover,
            &:focus {
                background-position: 0 $sprite;
            }
        }

        &--twitter {
            background-position: ($sprite * 1) 0;

            &:hover,
            &:focus {
                background-position: ($sprite * 1) $sprite;
            }
        }

        &--instagram {
            background-position: ($sprite * 2) 0;

            &:hover,
            &:focus {
                background-position: ($sprite * 2) $sprite;
            }
        }

        &--youtube {
            background-position: ($sprite * 3) 0;

            &:hover,
            &:focus {
                background-position: ($sprite * 3) $sprite;
            }
        }

        &--linkedin {
            background-position: ($sprite * 4) 0;

            &:hover,
            &:focus {
                background-position: ($sprite * 4) $sprite;
            }
        }
    }
}
