.menu {
    background-color: $gray-200;
    padding: 15px;
}

.menu-principal {
    .nav-item {
        margin: {
            top: 0.3rem;
            right: 0.5rem;
            bottom: 0.3rem;
            left: 0;
        };
        text-transform: uppercase;
    }

    .nav-link {
        background-color: $primary;

        &:hover,
        &:focus {
            background-color: $secondary;
        }

        // &:active,
        // &.active {
        //     background-color: $secondary;
        // }
    }

    .dropdown-toggle {
        &::after {
            transition: transform 500ms;

            @media (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        &.show {
            &::after {
                transform: rotateX(-540deg);
            }
        }
    }

    .current-menu-item,
    .current-menu-ancestor {
        > a {
            font-weight: bold;
        }
    }
}
