.menu-social {
    display: block;
    list-style: none;
    margin-top: 1rem;
    padding: 0;
    text-align: center;

    @include media-breakpoint-up(lg) {
        text-align: right;
    }

    &__item {
        display: inline-block;
        margin-right: 5px;
        width: 30px;
        height: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        &--facebook {
            background: url('../img/social-facebook.png') no-repeat center top;

            &:hover,
            &:focus {
                background-position: center bottom;
            }
        }

        &--twitter {
            background: url('../img/social-twitter.png') no-repeat center top;

            &:hover,
            &:focus {
                background-position: center bottom;
            }
        }

        &--instagram {
            background: url('../img/social-instagram.png') no-repeat center top;

            &:hover,
            &:focus {
                background-position: center bottom;
            }
        }

        &--youtube {
            background: url('../img/social-youtube.png') no-repeat center top;

            &:hover,
            &:focus {
                background-position: center bottom;
            }
        }

        &--linkedin {
            background: url('../img/social-linkedin.png') no-repeat center top;

            &:hover,
            &:focus {
                background-position: center bottom;
            }
        }
    }
}
