.post {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include title();
    }

    &__thumb {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    &__content {
        margin-top: $grid-gutter-width / 2;

        img {
            @extend .img-fluid;
        }
    }

    &__meta {
        font-size: 12px;
        font-style: italic;
        margin-top: 10px;
    }

    &__categories {
        font-size: 90%;
        list-style: none;
        text-align: right;

        li {
            display: inline-block;
            margin-left: 4px;
            margin-bottom: 4px;
        }
    }
}
