.publicacoes {
    $root: &;
    margin-bottom: 30px;

    &__title {
        h2 {
            font-size: 2rem;
            margin-bottom: 30px;
        }
    }

    &__list {
        list-style: none;
        padding-left: 30px;
    }

    &__item {
        color: $cor-base;
        margin-bottom: 20px;
    }

    &__item-meta {
        border-bottom: 1px solid $cor-turquesa;
        color: $cor-vermelho;
        display: inline-block;
        font-size: 0.85rem;
        margin-bottom: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        cursor: default;
    }

    &__item-title {
        color: $cor-turquesa;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: $cor-turquesa;
        }
    }

    &__btn {
        @include button-variant(#ffffff, #ffffff);
        @include btn-ps();
    }

    &--archive {
        #{$root}__title {
            @include title();
        }
    }
}
