.publicacoes {
    $root: &;
    margin-bottom: 2rem;

    &__title {
        @extend %ps-title;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__item-meta {
        display: inline-block;
        font-size: 0.85rem;
        margin-bottom: 0;
        padding-bottom: 5px;
        padding-right: 5px;
        cursor: help;
    }

    &__item-title {
        color: inherit;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--archive {
        #{$root}__title {
            @extend %ps-title;
        }

        #{$root}__item {
            color: $gray-800;
        }

        #{$root}__item-meta {
            color: $gray-600;
        }
    }
}
