.publicacoes {
    $root: &;
    margin-bottom: 30px;
    text-align: center;

    &__title {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        color: $gray-100;
        margin-bottom: 20px;
    }

    &__item-meta {
        color: $gray-200;
        display: inline-block;
        font-size: 0.85rem;
        margin-bottom: 0;
        padding-bottom: 5px;
        padding-right: 5px;
        cursor: help;
    }

    &__item-title {
        color: $gray-100;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 3px;
        margin-top: 0;
        text-transform: uppercase;

        a {
            color: #ffffff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__btn {
        @include button-variant(#ffffff, $gray-200, $primary, $primary);
        @include btn-ps();
    }

    &--archive {
        #{$root}__title {
            @include title();
        }
    }
}
