.publicacao {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include title();

        margin-top: 0;
        margin-bottom: 15px;
    }

    &__date {
        font-size: 12px;
        font-style: italic;
    }

    &__content {
        margin-top: $grid-gutter-width / 2;
    }
}
