@use "sass:math";

.publicacao {
    margin-bottom: $grid-gutter-width;

    &__title {
        @include title();
    }

    &__date {
        font-size: 12px;
        font-style: italic;
    }

    &__content {
        margin-top: math.div($grid-gutter-width, 2);
    }
}
