.searchform {
    &__input {
        background-color: #ffffff;
        border: 1px solid $cor-base;
        color: $cor-base;

        &::placeholder {
            color: $cor-base;
        }

        &:focus {
            border: 1px solid $cor-base;

            &::placeholder {
                color: #cccccc;
            }
        }
    }

    &__submit {
        @include button-variant(#ffffff, $cor-base);

        box-shadow: none;
        fill: $cor-base;
    }
}
