.search {
    &__title {
        @extend %ps-title;

        margin-bottom: 30px;
    }

    &__entry {
        margin-bottom: 15px;
    }

    &__entry-title {
        font-size: 1.6rem;
        margin: 0;
    }
}
