.searchform {
    &__input {
        background-color: #ffffff;
    }

    &__submit {
        @include button-variant($gray-300, $input-border-color);

        box-shadow: none;
        fill: $primary;
    }
}
