.searchform {
    margin-bottom: 2rem;

    &__submit {
        @include button-variant($gray-300, $border-color);

        fill: $body-color;

        &:hover,
        &:focus {
            fill: $accent;
        }
    }
}
