.site-map {
    color: $gray-800;
    padding-top: 1.5rem;
    padding-bottom: 2rem;

    &__menu {
        list-style: none;
        padding: 0;

        a {
            text-decoration: none;

            &:active,
            &:hover {
                text-decoration: underline;
            }
        }

        > li {
            color: $primary;
            display: block;
            float: left;
            margin-right: 4rem;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: bold;

            > a {
                color: $gray-900;
            }
        }

        .sub-menu {
            list-style: none;
            padding: 0;
            margin-top: 0.5rem;
            margin-bottom: 1rem;

            > li {
                font-size: 1rem;
                font-weight: normal;
                text-transform: none;

                > a {
                    color: $gray-700;
                }
            }
        }
    }
}
