.timeline-wrapper {
  background-color: $accent;
  padding: 1rem 0;
}

.timeline {
  background-color: $white;
  border-radius: $border-radius-pill;
  color: $primary;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 1.5rem 2rem;
  text-decoration: none;
  width: fit-content;

 &__item {
    display: inline-block;
    margin: 0;

    &--atual {
      margin-inline-end: 1.5rem;
    }
  }

  &__title {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 0.25rem;
    text-transform: uppercase;

    &--atual {
      font-weight: 800;
    }
  }

  &__evento {
    display: inline;
    font-size: 0.9rem;
    font-weight: 600;
    hyphens: auto;

    &--atual {
      font-style: normal;
      font-weight: 800;
    }

    &:not(:last-child) {
      &::after {
        content: ' | ';
      }
    }
  }
}
