.timeline {
  background-color: #fffdf2;
  border: 2px solid $gray-700;
  border-radius: $border-radius-xl;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 1rem 0;
  max-width: 100%;
  padding: 1rem;
  position: relative;
  text-decoration: none;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  &::after {
    @extend %estrela;

    content: '';
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%) translateX(70%);

    width: 30px; height: 30px;

  }

  &__title {
    color: $gray-600;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-right: 0.5rem;
    text-transform: uppercase;
    flex: 0 0 auto;

    &--atual {
      color: $gray-900;
      font-weight: 900;
    }
  }

  &__list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__item {
    color: $gray-600;
    display: inline;
    font-size: 0.9rem;
    font-weight: 600;

    &--atual {
      color: $gray-900;
      font-style: normal;
      font-weight: 900;
    }

    &:not(:last-child) {
      &::after {
        content: ', ';
      }
    }
  }

  &__list + &__title {
    margin-left: 1rem;
  }
}
