.title-sobreposto {
    color: $cor-apoio;
    display: inline-block;

    &__apoio {
        background: $primary;
        color: #ffffff;
        display: inline-block;
        font-size: 0.6em;
        padding: 3px 20px 3px 10px;
    }

    &__principal {
        background: $primary;
        color: #ffffff;
        display: block;
        font-weight: bold;
        margin-left: 30px;
        margin-top: -5px;
        padding: 3px 40px 3px 20px;
        text-transform: uppercase;
    }
}
